README.md
MVCApplication.iml
.idea
src/main/java/il/ac/shenkar/todolistapi/daos
src/main/java/il/ac/shenkar/todolistapi/hibernatetransactionmanager
src/main/java/il/ac/shenkar/todolistapi/services
src/main/java/il/ac/shenkar/todolistapi/servlets
WebContent
